.app_orange_theme {
    --bg-color: #fbf8f4;
    --inverted-bg-color: #ffa121;
    --primary-color: #ffa121;
    --secondary-color: #d98041;
    --inverted-primary-color: #fbf8f4;
    --inverted-secondary-color: #ff954a;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #ffa121;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #cacad9;
}
