.AppLink {
    color: var(--primary-color);
    transition: opacitty .2s linear;

    &:hover {
        opacity: .8;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
